.items {
	@include row;

	padding-bottom: 20px;

	.item {
		@include span(12);

		@include tablet {
			@include span(6);
			
			&:nth-child(2n+1) {
				clear: left;
			}
		}

		@include desktop {
			@include span(4);

			&:nth-child(2n+1) {
				clear: none;
			}
			&:nth-child(3n+1) {
				clear: left;
			}
		}

		position: relative;
		padding-bottom: 20px;
	}
}

main.category {
	h1.title {
		margin-bottom: 2em;
		text-align: center;
	}
}