.footer {
	padding: 2em 0;
	background: $footerbg;

	a {
		padding-right: 10px;
		text-transform: uppercase;
		color: $footertext;
		transition: color 0.2s ease;

		&:hover {
			color: $footerhover;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}