.header {
	@include clearfix;

	padding: 20px 0;
	color: #333;

	.logo {
		margin: 0;
		padding-top: 10px;
		font-size: 1.5em;
		text-align: center;

		@include tablet {
			float: left;
			text-align: left;
		}

		a {
			color: $primary;
		}
	}
	.nav {
		text-align: center;

		@include tablet {
			float: right;
			text-align: left;
		}

		a {
			display: inline-block;
			margin: 15px 30px 13px;
			padding-bottom: 2px;
			border-bottom: 1px solid transparent;
			color: $muted;
			transition: background 0.2s ease;

			&:hover {
				border-color: $primary;
				color: $primary;
			}
			&:last-child {
				padding-right: 0;
			}
			&.active {
				color: $primary;
			}
		}
	}
}