main.home {
	padding-top: 0;

	h2 {
		margin-bottom: 20px;
		padding: 20px 0;
	}

	.intro {
		padding: 50px 0 80px;
		text-align: center;

		h1 {
			font-size: 2.5em;
		}
		p {
			font-size: 1.2em;
			color: $muted;
		}
	}

	.portfolio {
		@include row;

		margin-bottom: 50px;

		.item {
			margin-bottom: 10px;

			@include tablet {
				@include span(6);
			}
		}
	}

	.blog {
		@include row;

		.item {
			@include span(12);

			margin-bottom: 40px;

			h1 {
				font-size: 2em;
			}
		}
	}

	.readmore {
		margin-bottom: 50px;
	}
}