@mixin tablet {
	@media(min-width: $grid-tablet) {
		@content;
	}
}

@mixin desktop {
	@media(min-width: $grid-desktop) {
		@content;
	}
}

@mixin clearfix {
	&:after {
		display: table;
		clear: both;
		content: '';
	}
}

@mixin container {
	max-width: $grid-width;
	margin-left: auto;
	margin-right: auto;
	
	padding-left: $container-padding;
	padding-right: $container-padding;

	@include desktop {
		padding-left: 0;
		padding-right: 0;
	}
}

@mixin row {
	@include clearfix;
	
	width: $grid-row-width;
	margin-left: (-$grid-gutter);
}

@mixin span($i) {
	float: left;
	width: ((100% / $grid-columns) * $i) - $grid-gutter;
	margin: 0 0 0 $grid-gutter;
}