.blog .item {
	h1 a {
		font-size: 0.75em;
		color: #333;

		@include desktop {
			font-size: 1.2em;
		}
	}
}

.thumbnail {
	width: 100 + ($grid-gutter * 8);
	margin-left: (-$grid-gutter) * 4;

	@include tablet {
		width: 100 + ($grid-gutter * 4);
		margin-left: (-$grid-gutter) * 2;
	}
	
	@include desktop {
		width: 100%;
		margin-left: 0;
	}
}

main.post {
	padding-top: 0;
	margin-bottom: 50px;

	h1.title {
		margin: 0.3em 0 0.2em;
		font-size: 1.5em;

		@include desktop {
			font-size: 3em;
		}
	}
	h2.subtitle {
		font-size: 1.1em;
		color: $muted;

		@include desktop {
			font-size: 1.5em;
		}
	}
	.meta {
		margin-top: 0;
		margin-bottom: 1em;
		color: $muted;
	}

	.highlighter-rouge + h3 {
		margin-top: 1em;
	}
	.codepen.inline {
		margin-top: 20px;
	}
}