$primary: #D15858;
$secondary: #454553;
$muted: #A7A7A7;

$bodybg: #FFF;
$bodytext: #333;

$linkcolor: $primary;

$footerbg: #EBEAE8;
$footertext: #333;
$footerhover: $primary;

$grid-width: 800px;
$grid-columns: 12;
$grid-gutter: 2%;
$grid-row-width: 100 + ($grid-gutter);

$container-padding: 20px;

$grid-tablet: 540px;
$grid-desktop: $grid-width + ($container-padding * 2);