---
layout: default
---

<main class="category">
	<div class="container">
		<h1 class="title">{{ page.title }}</h1>
		<div class="items {{ page.type }}">
			{% for post in site.categories[page.type] %}
				<article class="item">
					<a href="{{ post.url }}">
						<img src="{{ post.thumbnail }}" alt="{{ post.title }}">
						{% if page.type == 'portfolio' %}
							<p class="hover">View Project</p>
						{% endif %}
					</a>
					{% if page.type == 'blog' %}
						<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
						{{ post.excerpt }}
					{% endif %}
				</article>
			{% endfor %}
		</div>
	</div>
</main>